*{
    transition: 0.5s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.page {
	width: 100%;
	height: 100vh;
	background: none;
	overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow-x: hidden;
}
#page0{
    flex-direction: column;
    color: black;
    margin: auto;
    background-color: snow;
    
}
#page0 p{
    color: orange;
}
#page0 span#down{
    font-weight: bolder;
}
#page1{
    background-color: lightcyan;
}
.page iframe{
    width: 90%;
    height: 90vh;
    margin: auto;
    box-shadow: 5px 10px 5px grey;
}
#page3{
    background-color: lightgreen;
}
#page4{
    background-color: lightyellow;
}
#page5{
    background-color: lightskyblue;
}
#page6{
    background-color: lightpink;
}
