body{
	background-color: darkgoldenrod;
	transition: 0.25s;
}
#main-container {
	display: block;
	position: relative;
	top: 100px;
	background-color: lightgray;
	padding: 0 10px;
	box-shadow: 0 5px 5px 0 darkslategray;
	border-radius: 20px;
	width: 50%;
	height: auto;
	opacity: 0.7;
}

#num1, #num2 {
	max-width: 70%;
	font-size: 110%;
	font-weight: bolder;
	border-width: 30px;
	border-style: solid;
	border-color: black;
}
#my-row, .col-md-4, #answer {
	display: flex; 
	justify-content: space-evenly;
	align-content: space-between;
}
#answer {
	margin: 30px;
	padding: 20px;
	max-width: 40%;
	font-size: 150%;
	font-weight: bold;
	box-shadow: 0 3px 3px 0 grey;
	text-align: center;
	border-collapse: all;
}
#my-btn {
	
	font-weight: bolder;
	font-size: 130%;
	box-shadow: 0 5px 5px 0 grey;
}


